dist/
build/
*.egg-info
__pycache__
**/*.pyc
.vscode
.pytest_cache
*.code-workspace
.venv
.coverage
docs/build
docs/source/generated
docs/source/examples
.metawear
releases/
.ipynb_checkpoints
site
docs/changelogs
docs/README.md
docs/LICENSE.md
docs/CODE_OF_CONDUCT.md

apps/muss/
