[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
autopep8 = "*"
matplotlib = "*"
pdoc3 = "*"
twine = "*"

[requires]
python_version = "3"

[scripts]
dev-doc="pdoc arus --http localhost:1234 --template-dir templates"
build-doc="python build.py"
build="python setup.py sdist bdist_wheel"
publish="python -m twine upload --repository-url https://test.pypi.org/legacy/ dist/*"

[packages]
arus = {editable = true,path = "."}

